[submodule "Meme/3rdparty/spdlog"]
	path = Meme/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Meme/3rdparty/GLFW"]
	path = Meme/3rdparty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Meme/3rdparty/imgui"]
	path = Meme/3rdparty/imgui
	url = https://github.com/ocornut/imgui
